@{
    Layout = "~/Views/Shared/Layout.cshtml";
}


    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Bem vindo ao FITCurrículos</h3>
            <div class="box-tools pull-right">
                <!-- Buttons, labels, and many other things can be placed here! -->
                <!-- Here is a label for example -->
                <span class="label label-primary">FITec</span>
            </div><!-- /.box-tools -->
        </div><!-- /.box-header -->

        @if (Request.IsAuthenticated)
        {
    <div class="box-body">
        <b>Favoritos  </b>

        @{  string sessionLogin = HttpContext.Current.User.Identity.Name.Replace(@"""", "").Split(',')[2].Split(':')[1];
  
        }

    </div>

            <div class="box-body">
                <ul class="menu-icon">
                    <li> <a href="/Candidato/Consulta">Listar Candidatos</a> </li>
                    <li> <a href="/Candidato/Cadastro">Adicionar Candidato</a> </li>
                </ul>
            </div><!-- /.box-body -->
        }
        else
        {

        }
        <div class="box-footer">
        </div><!-- box-footer -->
    </div><!-- /.box -->

<script src="~/AdminLTE/plugins/slimscroll/js/jquery.slimscroll.js"></script>
<script src="~/AdminLTE/plugins/bootstrap-wysihtml5/js/bootstrap3-wysihtml5.all.js"></script>
<script src="~/AdminLTE/plugins/sparkline/js/jquery.sparkline.js"></script>
<script src="~/AdminLTE/plugins/jvectormap/js/jquery-jvectormap-1.2.2.min.js"></script>
<script src="~/AdminLTE/plugins/jvectormap/js/jquery-jvectormap-world-mill-en.js"></script>
<script src="~/AdminLTE/plugins/jvectormap/js/jquery-jvectormap-usa-en.js"></script>

<script src="~/AdminLTE/plugins/daterangepicker/js/daterangepicker.js"></script>
<script src="~/AdminLTE/plugins/daterangepicker/js/moment.js"></script>

<script src="~/AdminLTE/plugins/knob/js/jquery.knob.js"></script>
<script src="~/AdminLTE/plugins/raphael/js/raphael-min.js"></script>
<script src="~/AdminLTE/plugins/morris/js/morris.js"></script>
<script src="~/AdminLTE/plugins/datepicker/js/locales/bootstrap-datepicker.pt-BR.js"></script>
<script src="~/Scripts/Home/DashboardV1.js"></script>

<script type="text/javascript">
    Morris.Donut({
        element: 'donut-example',
        data: [
            { label: "Download Sales", value: 12 },
            { label: "In-Store Sales", value: 30 },
            { label: "Mail-Order Sales", value: 20 }
        ]
    });
</script>