@{
    Layout = "~/Views/Shared/Layout.cshtml";
}


<h3 class="box-title">FITCurrículos © v.1.0 Abr. 2020</h3>
<br>
<div class="col-md-12">
    <dl class="dl-horizontal">
        O FITCurrículos é uma ferramenta para gerenciamento de currículos dos candidatos interessados em fazer parte do quadro de funcionários da FITec.
    </dl>
</div>
<br>

<br>

<div>
    <dl class="dl-horizontal">
        <dt>
           Desenvolvimento
        </dt>
        <dd>
            Arinaldo Ferreira
        </dd>
        <dt>
            
        </dt>
        <dd>
            Edmilson Lopes
        </dd>
    </dl>      
</div>
      


        <script src="~/AdminLTE/plugins/slimscroll/js/jquery.slimscroll.js"></script>
        <script src="~/AdminLTE/plugins/bootstrap-wysihtml5/js/bootstrap3-wysihtml5.all.js"></script>
        <script src="~/AdminLTE/plugins/sparkline/js/jquery.sparkline.js"></script>
        <script src="~/AdminLTE/plugins/jvectormap/js/jquery-jvectormap-1.2.2.min.js"></script>
        <script src="~/AdminLTE/plugins/jvectormap/js/jquery-jvectormap-world-mill-en.js"></script>
        <script src="~/AdminLTE/plugins/jvectormap/js/jquery-jvectormap-usa-en.js"></script>

        <script src="~/AdminLTE/plugins/daterangepicker/js/daterangepicker.js"></script>
        <script src="~/AdminLTE/plugins/daterangepicker/js/moment.js"></script>

        <script src="~/AdminLTE/plugins/knob/js/jquery.knob.js"></script>
        <script src="~/AdminLTE/plugins/raphael/js/raphael-min.js"></script>
        <script src="~/AdminLTE/plugins/morris/js/morris.js"></script>
        <script src="~/AdminLTE/plugins/datepicker/js/locales/bootstrap-datepicker.pt-BR.js"></script>
        <script src="~/Scripts/Home/DashboardV1.js"></script>

        <script type="text/javascript">
            Morris.Donut({
                element: 'donut-example',
                data: [
                    { label: "Download Sales", value: 12 },
                    { label: "In-Store Sales", value: 30 },
                    { label: "Mail-Order Sales", value: 20 }
                ]
            });
        </script>
